<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UserLogin.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<connectionStrings>
		<add name="constr" connectionString="Data Source= sg2nlmysql57plsk.secureserver.net;port=3306;Initial Catalog=tester_astro;UId=astroweb_live;password=D3v3lopm3nt" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
 <applicationSettings>
  <UserLogin.My.MySettings>
   <setting name="WindowsApp1_ActivationKey_ActivationKey" serializeAs="String">
    <value>https://astrouser.com/astroapp/astrotestweb/ActivationKey.asmx</value>
   </setting>
  </UserLogin.My.MySettings>
 </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
